@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: rgb(0, 0, 0);
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: rgb(73, 0, 0);
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;

}

body {
    /* height: 100vh; altura do viewport */
    box-sizing: border-box;
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho-menu {
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.conteudo {
    display:flex;
    align-items: center;
    justify-content: space-between;
    /*margin: 10% 15%;*/
    padding: 6% 15%;
    gap: 82px;
}

.titulo-destaque {
    color:var(--cor-terciaria);
    /*border: 1px solid rgb(117, 0, 0);
    padding: 10px;*/
}

/*.titulo-destaque:hover {
    border: 1px solid rgb(117, 0, 0);
    padding: 10px;
}*/

.conteudo-principal {
    width: 50%;
    display: flex; 
    flex-direction: column;
    gap: 40px;
    
}

.conteudo-principal-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.conteudo-principal-paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.conteudo-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    
}

.conteudo-links-titulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.conteudo-links-botoes {
    /* background-color: rgb(0, 0, 0); atalho crtl + k + c  */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; 
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    border: 2px solid var(--cor-terciaria);
    padding: 10px;
}

.conteudo-links-botoes:hover {
    background-color:var(--cor-hover);
}


.conteudo-principal-paragrafo a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.conteudo-principal-paragrafo li {
    text-align: justify;
}

.foto-perfil{
    width: 50%;
}

.rodape {
    padding: 24px;
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media(max-width:1200px) {

    .cabecalho {
        padding: 10px;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .conteudo {
        flex-direction: column-reverse; /** mudar a direção do código, nesse caso a img foi para cima */
        padding: 5%;
    }

    .conteudo-principal {
        width: auto;
    }

}